.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: red;

    .team-name-section {
        grid-column: span 3;
    }
    .match-detail-section {
        grid-column: 1;
    }
}